{% extends 'base.html' %}
{% block title %}Питомцы{% endblock %}
{% block body %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="btn btn-lg btn-light fw-bold border-white bg-secondary" aria-current="page" href="{% url "index" %}">Главная</a>
        </nav>
      </div>
    </header>
    <h1>Питомцы владельца {{ owner.firstname }}:</h1>
    <ol>
        {% for pet in pets %}
        <li>{{ pet }}</li>
        {% endfor %}
    </ol>
{% endblock %}
</div>